body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
  background-color: #fff;
  margin: 10;
  overflow: auto;
}

p{
  color:#282828;
  font-size: 16px;
}


h1 {
  background-color:#006690;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px;
}

.tintedBlackLeft {
  background-color:#00000033;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  padding:11px 11px 11px 0px;
}

button {
  padding: 5px 9px 5px 9px;
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid #0091CE;
  background-color: #0091CE;
  color: #fff;
}

tr { 
  border: solid;
  border-color: lightgrey;
  border-width: 1px 0;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

.client-info{
  
  width: 20;
}


.subText{
  font-size: 12px;
  font-weight: 100;
  cursor: pointer; /* Mouse pointer on hover */

}

.bold{
  font-weight: bold;
  font-size: 15px;
  width: 130px;
  cursor: pointer; /* Mouse pointer on hover */
}

.district{
  font-weight: bold;
  font-size: 15px;
}



.dataTables_wrapper table thead{
  display:none;
}

.i-circle-red {
  margin-left: 10px;
  display: inline-block;
  background-color: #f4a4a4;
  color: #000000;
  font-size: 14px;
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 10px;
  line-height: 10px;
}

.i-circle-blue {
  margin-left: 10px;
  display: inline-block;
  background-color: #ADD8E6;
  color: #000000;
  font-size: 14px;
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 10px;
  line-height: 10px;
}



/* Style buttons */
.buttonMail {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: grey; /* White text */
  padding:0px 0px 0px 0px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.buttonMail:hover {
}

.buttonMark {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: grey; /* White text */
  padding:0px 0px 0px 4px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.constBtnClass{
  background-color: white; /* Blue background */
  border-color: grey; /* Blue background */
  border-width: 1px; /* Remove borders */
  color: grey; /* White text */
  padding:0px 0px 0px 0px; /* Some padding */
  font-size: 9px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-align: center;
  width: 34px;
  font-weight: 700;
  height: 35px;
}

.profileBtnClass{
  background-color: white; /* Blue background */
  border-color: grey; /* Blue background */
  border-width: 1px; /* Remove borders */
  color: grey; /* White text */
  padding:0px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-align: center;
  width: 30px;
  height: 35px;
  font-weight: 700;
}

.vlRed {
  border-left: 6px solid red;
  height: 80%;
  width: 0px;
}

.vlGreen {
  border-left: 6px solid green;
  height: 80%;
  width: 0px;
}

.vlClear {
  border-left: 6px solid ;
  border-color: white;
  height: 80%;
  width: 0px;
}

.dataTables_filter {
  position: relative;
}

.dataTables_filter input {
  width: 250px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 10px;
}

.dataTables_filter .fa-search {
  position: absolute;
  top: 10px;
  left: auto;
  right: 10px;
}
