body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Verdana';
  font-size: 16px;
  line-height: 1;
  color: #000;
  background-color: #fff;
  margin: 0;
  zoom:100%;
}



p{
  color:#282828;
  font-size: 16px;
}


h1 {
  background-color:#006690;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 10px;
}


button {
  padding: 5px 9px 5px 9px;
  border-radius: 3px;
  font-size: 18px;
  border: 1px solid #0091CE;
  background-color: #0091CE;
  color: #fff;
}

th { white-space: nowrap; }

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

.client-info{
  
  width: 20;

}

/* Highlight styles for Chair and Vice Chair */

/* Chair - Republican (Red) */
.chairred {
  color: #FF0000;
  font-weight: bold;
}

/* Chair - Democrat (Blue) */
.chairblue {
  color: #0000FF;
  font-weight: bold;
}

/* Vice Chair - Republican (Light Red) */
.vicechairred {
  color: #FF6666;
  font-weight: bold;
}

/* Vice Chair - Democrat (Light Blue) */
.vicechairblue {
  color: #6666FF;
  font-weight: bold;
}



.headerDiv{
  font-family: 'Verdana';
  font-size: 14px;
  font-weight: 800;
  padding: 7px;
  background-color: #b0bfce;
  position: sticky;
  top: 0;
  z-index: 10;
}

.highlight-cell {
  background-color: yellow;
  font-weight: bold;
}


.subText{
  font-size: 12px;
  font-weight: 100;
  cursor: pointer; /* Mouse pointer on hover */

}

.bold{
  font-weight: bold;
  font-size: 13px;
  width: 120px;
  cursor: pointer; /* Mouse pointer on hover */
}

.infoOffice{
  font-size:10px;
  color: #000;
}

.district{
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
  color:gray;
  text-size-adjust:auto;
  width:30px;
}

#float {
        position: fixed;
        top: 3em;
        right: 2em;
        z-index: 100;
    }

    .dt-scroll-headInner{
      height: 0px;
    }

.i-circle-red {
  margin-left: 3px;
  display: inline-block;
  background-color: #f4a4a4;
  color: #000000;
  font-size: 14px;
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 10px;
  line-height: 10px;
}

.i-circle-blue {
  margin-left: 3px;
  display: inline-block;
  background-color: #ADD8E6;
  color: #000000;
  font-size: 14px;
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 10px;
  line-height: 10px;
}

.container {
  padding:0px 0px 0px 4px; /* Some padding */
}

/* Style buttons */
.buttonMail {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: grey; /* White text */
  padding:0px 0px 0px 0px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  position: relative;
  bottom:2px;
}

.buttonMark {
  background-color: white; /* Blue background */
  border: none; /* Remove borders */
  color: grey; /* White text */
  padding:0px 0px 0px 0px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  top:2px;
  position: relative;
}

/* Darker background on mouse-over */
.buttonMail:hover {
}


.constBtnClass{
  background-color: white; /* Blue background */
  border-color: grey; /* Blue background */
  border-width: 1px; /* Remove borders */
  color: grey; /* White text */
  padding:0px 0px 0px 0px; /* Some padding */
  font-size: 9px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-align: center;
  width: 34px;
  font-weight: 700;
  height: 35px;
}

td:nth-child(5){
  width: 30;
}

.profileBtnClass{
  background-color: white; /* Blue background */
  border-color: grey; /* Blue background */
  border-width: 1px; /* Remove borders */
  color: grey; /* White text */
  padding:0px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  text-align: center;
  width: 30px;
  height: 35px;
  font-weight: 700;
}

.vlRed {
  border-left: 6px solid red;
  height: 80%;
  width: 0px;
}

.vlGreen {
  border-left: 6px solid green;
  height: 80%;
  width: 0px;
}

.green{
  color: green;
}

.vlClear {
  border-left: 6px solid ;
  border-color: white;
  height: 80%;
  width: 0px;
}

.dataTables_filter {
  position: relative;
}

.dataTables_filter input {
  width: 250px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  text-indent: 10px;
}

.dataTables_filter .fa-search {
  position: absolute;
  top: 10px;
  left: auto;
  right: 10px;
}



.dt-scroll-body{
  border-color: #b0bfce;
}



  div.dt-scroll-body {
    border-bottom-width: 10px;
    border-bottom-color: #b0bfce;
  }

